---
import HindiLayout from "../../layouts/HindiLayout.astro";
import PartnersImageCarousel from "../../components/PartnersImageCarousel.svelte";
---

<HindiLayout title="About us">
  <section id="about-us" class="space-y-10 px-4 md:px-20 py-10 md:py-0">
    <div class="text-center">
      <span class="text-5xl md:text-6xl font-extrabold text-[#333333]"
        >हमारे <span class="text-primary-yellow">बारे में</span></span
      >
    </div>
    <p class="text-wrap max-w-6xl mx-auto">
      बाल उदय में, हम बच्चों, माता-पिता, शिक्षकों, और नोडल अधिकारियों के बीच
      बच्चों के अधिकारों के बारे में जागरूकता में महत्वपूर्ण अंतर को पूरा करने
      के लिए समर्पित हैं। इस प्रकार के कार्यक्रमों की अनुपस्थिति ने समाज में
      अनैतिक तत्वों द्वारा बच्चों को शोषण के लिए अनुरूप कर दिया है। हमारी पहल
      सभी हितधारकों को एक समग्र शैक्षिक दृष्टिकोण से सशक्त बनाने की है।
      शिक्षकों, माता-पिता, और नोडल अधिकारियों को समूह 1 के रूप में और बच्चों को
      समूह 2 के रूप में लक्ष्य रखकर, हम विधिक अधिकारों, जिम्मेदारियों, और
      संरक्षण के बारे में समग्र शिक्षा प्रदान करने का उद्देश्य रखते हैं। हमारा
      मिशन यह है कि सभी को कानून के दोs और डोn'ts के बारे में विस्तार से जागरूक
      होना चाहिए, जिससे हमारे बच्चों के लिए एक सुरक्षित समुदाय बने।
      <br />
      <br />
      हमारा द्विस्तरीय कार्यक्रम अवैध गतिविधियों के प्रभावित लोगों को संबोधित करता
      है और संभावित शोषण को रोकने के लिए कार्य करता है। शिक्षा प्रदान करके और एक
      प्रतिसाद प्रणाली बनाकर, हम प्रभावित व्यक्तियों को परामर्श और समस्या-समाधान
      के लिए संस्थाओं और प्राधिकारियों से जोड़ते हैं, जिसमें आवश्यक कानूनी कार्रवाई
      की शुरुआत होती है। इस दृष्टिकोण से, हम तुरंत खतरों को कम करते हैं और सुनिश्चित
      करते हैं कि बच्चों को सही कानूनी उपायों तक पहुंच मिलती है, जिससे वे डर के बिना
      अपने विक्षिप्त वातावरण में विकास कर सकें। बाल उदय के माध्यम से, हम उस भविष्य
      की दिशा में प्रयास करते हैं जहां हर बच्चा अपने अधिकारों को जानता है और खुद
      को सुरक्षित रखने के लिए उपकरण रखता है।
    </p>

    <div class="text-center">
      <span class="text-5xl md:text-6xl font-[700] text-[#333333]"
        >हमारे <span class="text-[#C69C6D]">साथी</span></span
      >
    </div>
    <div class="pb-10">
      <PartnersImageCarousel client:only language="hi" />
    </div>
  </section>
</HindiLayout>
