---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import HeroImage from "../assets/HeroImage.png";
import AboutUsImage from "../assets/AboutUs.png";
import WorkshopsImageCarousel from "../components/WorkshopsImageCarousel.svelte";
---

<Layout title="Bal Uday">
  <main class="space-y-5">
    <section id="hero" class="md:py-16 py-10 md:px-0">
      <div class="flex flex-col md:flex-row items-start justify-between">
        <div class="basis-full md:basis-2/3 px-4 md:px-20 py-10 md:py-32">
          <div class="leading-10">
            <span class="text-3xl font-semibold text-[#333333]">Bal Uday</span>
            <br />
            <span
              class="text-5xl md:text-6xl font-[700] text-primary-yellow leading-[50px] md:leading-[60px]"
            >
              <span
                >Brighter <span class="text-primary-green">Future,</span>
              </span>
              <p>Empowered Children!</p>
            </span>
            <span class="text-lg font-semibold py-4 block"
              >Nurturing children and communities through education and support.</span
            >
            <div>
              <a
                href="/#about-us"
                class="bg-primary-green text-white text-lg font-semibold rounded-md p-4 px-6 my-3"
              >
                Learn More
              </a>
            </div>
          </div>
        </div>
        <div class="w-full md:w-auto">
          <Image src={HeroImage} alt="Bal Uday" class="max-w-full h-auto" />
        </div>
      </div>
    </section>
    <section id="about-us" class="space-y-10 px-4 md:px-20 md:py-0">
      <div class="text-center">
        <span class="text-5xl md:text-6xl font-[700] text-[#333333]"
          >About <span class="text-primary-yellow">Us</span></span
        >
      </div>
      <div class="flex flex-col lg:flex-row items-center justify-center gap-8">
        <div class="basis-full md:basis-1/2">
          <div class="md:px-8">
            <Image src={AboutUsImage} alt={"standing boy"} class="" />
          </div>
        </div>

        <div
          class="basis-full md:basis-1/2 text-base sm:text-sm md:text-md md:text-xl"
        >
          <div class="flex flex-col gap-4 md:p-8">
            <div>
              Bal Uday is a non-profit trust dedicated to spreading awareness
              about child rights among children, parents, teachers, and nodal
              officers. Our mission is to educate and empower communities to
              ensure the safety and well-being of every child.
              <br />
              <br />
              Our two-tier program targets both adults (teachers, parents, and nodal
              officers) and children, providing education about legal rights and
              protections under acts like the POSCO Act and the Juvenile Justice
              Act. We aim to prevent exploitation and provide avenues for redressal
              through proper legal channels.
              <br />
            </div>
            <a
              href="/about"
              class="bg-primary-yellow text-white text-sm md:text-lg font-semibold rounded-md p-2 lg:p-3 px-4 lg:px-6 w-fit"
            >
              Know More
            </a>
          </div>
        </div>
      </div>
      <section id="workshops" class="py-10 space-y-5 px-4 md:px-20">
        <div class="text-center">
          <span class="text-5xl md:text-6xl font-[700] text-[#333333]"
            ><span class="text-[#C69C6D]">Work</span>shops</span
          >
        </div>
        <div class="p-4 md:px-20">
          <div class="mx-auto">
            <WorkshopsImageCarousel client:load />
          </div>
          <div class="p-4 text-center text-wrap max-w-4xl mx-auto">
            Bal Uday workshops make children safer and more aware of their
            rights through storytelling and engaging activities. We simplify
            complex legal concepts and educate children on basic law topics like
            "What is law?", "How can crime impact me?", and "How can I protect
            myself from criminal activities?" Our sessions are tailored to
            different age groups to address their specific needs and
            understanding levels.
          </div>
        </div>
      </section>
      <section id="contact-us" class="px-4 md:px-20 pb-10">
        <div
          class="container mx-auto flex flex-col md:flex-row justify-between items-start gap-10"
        >
          <div
            class="w-full md:w-1/2 space-y-4 p-4 md:p-10 text-center md:text-left"
          >
            <span class="text-5xl md:text-6xl font-[700] text-[#333333]"
              >Contact Us <span class="text-primary-green text-8xl">.</span>
            </span>
            <div class="max-w-lg mx-auto md:mx-0">
              Please feel free to reach out to us in case you have any queries
              or complaints. Once we have received any complaints or queries, we
              will reach out to you.
            </div>
          </div>
          <div class="w-full md:w-1/2">
            <div class="flex items-center justify-center">
              <form
                class="flex flex-col gap-4 w-full max-w-md"
                action="/api/sendEmail"
                method="post"
              >
                <input
                  type="text"
                  name="name"
                  placeholder="Full Name*"
                  class="form-input"
                  required
                />
                <input
                  type="email"
                  name="email"
                  placeholder="Email*"
                  class="form-input"
                  required
                />
                <input
                  type="tel"
                  name="tele"
                  placeholder="Phone Number*"
                  class="form-input"
                  required
                />
                <textarea
                  name="message"
                  rows="4"
                  placeholder="Message/Complaint*"
                  required
                  class="form-input"></textarea>
                <button
                  type="submit"
                  class="rounded-lg text-white bg-primary-green px-6 py-3 text-sm font-semibold"
                >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>

  <style>
    .form-input {
      @apply bg-[#EEF9EF] p-3 rounded-lg text-xs;
    }
  </style>
</Layout>
