<footer class="px-4 md:px-24 bg-primary-green text-white">
  <div class="flex flex-col md:flex-row items-center justify-between py-10">
    <div class="text-center md:text-left text-lg">
      <span class="font-semibold">बाल उदय</span>
      <br /><br />
      <div>P-2B, 4th फ्लोर, जंगपुरा</div>
      <div>एक्सटेंशन , नई दिल्ली -110014</div>
      <br />
      <div>+91 1147072608, 7303732100</div>
    </div>
    <div class="flex flex-col md:flex-row gap-10 space-x-10 mt-10 md:mt-0">
      <div class="text-center md:text-left mx-auto">
        <h3 class="text-2xl font-semibold mb-4">सोशल मीडिया</h3>
        <ul>
          <li class="mb-4">
            <a
              href="https://www.instagram.com/projectbaluday/"
              class="space-x-2"
              target="_blank"
            >
              <i class="fa fa-instagram fa-lg"></i>
              <span>इंस्टाग्राम</span>
            </a>
          </li>
          <li class="mb-4">
            <a
              href="https://www.facebook.com/p/Bal-Uday-61559872195641/?wtsid=rdr_02xxswfiwWLXn8yyx"
              class="space-x-2"
              target="_blank"
            >
              <i class="fa fa-facebook fa-lg"></i>
              <span> फेसबुक</span>
            </a>
          </li>
          <li class="mb-4">
            <a
              href="https://www.linkedin.com/in/bal-uday-666535299"
              class="space-x-2"
              target="_blank"
            >
              <i class="fa fa-linkedin fa-lg"></i>
              <span>लिंक्डइन </span>
            </a>
          </li>
          <li class="mb-4">
            <a
              href="https://x.com/projectbaluday"
              class="space-x-2"
              target="_blank"
            >
              <i class="fa fa-twitter fa-lg"></i>
              <span>X (पूर्वतः ट्विटर)</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="text-center md:text-left mx-auto">
        <h3 class="text-2xl font-semibold mb-4">क्विक लिंक्स</h3>
        <ul>
          <li class="mb-4"><a href="/#hero">होम</a></li>
          <li class="mb-4"><a href="/#about-us">हमारे बारे में</a></li>
          <li class="mb-4"><a href="/#workshops">वर्कशॉप्स</a></li>
          <li class="mb-4"><a href="/#contact-us">संपर्क करे</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
