---
import { Image } from "astro:assets";
import SiteLogo from "../assets/logo.png";
import LanguageSwitcher from "./LanguageSwitcher.svelte";

const navItems = [
  { href: "/hi/#hero", text: "होम" },
  { href: "/hi/#about-us", text: "हमारे बारे में" },
  { href: "/hi/#workshops", text: "वर्कशॉप्स" },
  { href: "/hi/#contact-us", text: "संपर्क करे" },
];
---

<nav class="bg-white border-gray-200">
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <Image src={SiteLogo} alt="Logo" class="w-20 h-20 md:w-28 md:h-28" />
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-6 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row gap-3 md:gap-6 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white"
      >
        <LanguageSwitcher client:only />
        {
          navItems.map((item) => (
            <li class="hover:text-gray-400">
              <a
                data-nav={item.text}
                href={item.href}
                class={"block md:inline text-gray-900 hover:text-gray-700"}
              >
                {item.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<script>
  document
    ?.querySelector("[data-collapse-toggle]")
    ?.addEventListener("click", () => {
      const menu = document.getElementById("navbar-default");
      menu?.classList.toggle("hidden");
    });
</script>
